*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ff-good-headline-web-pro", sans-serif;
}

input
{
    display: none;
}

#header 
{
    padding-top: 50px;
    padding-bottom: 100px;
}

#name 
{
    float: left; 
    position: absolute;
    left: 10vw;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

#icons 
{
    padding-top: 3px;
    float: right; 
    position: absolute;
    right: 10vw;
}

.icon 
{
    color: black;
    text-decoration: none;
    margin: 0px 7px 0px 7px;
    font-size: 25px;
}

.fa-brands
{
    transition: 0.3s;
}

.fa-brands:hover
{
    transform:scale(1.1);
    z-index:2;
}

.fa-regular
{
    transition: 0.3s;
}

.fa-regular:hover
{
    transform:scale(1.1);
    z-index:2;
}

#index-gallery
{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: flex-start;
    justify-items: center;
}

.pic
{
    position: relative;
    width: 1fr;
    transition: 0.3s;
}

.pic img
{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.pic:hover
{
    transform:scale(1.1);
    z-index:2;
}

.img-window
{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 100;
}

.img-window img
{
    max-height: 90vh;
    max-width: 80vw;
    cursor: pointer;
}

.img-btn-prev
{
    position: fixed;
    top: 48vh;
    left: 3vw;
    z-index: 500;
    font-size: 20px;
    color: rgba(0, 0, 0);
    opacity: 0.5;
    cursor: pointer;
    transition: 0.1s;
}

.img-btn-prev:hover 
{
    transform:scale(1.1);
    opacity: 1;
}

.img-btn-next 
{
    position: fixed;
    top: 48vh;
    right: 3vw;
    z-index: 500;
    font-size: 20px;
    color: rgba(0, 0, 0);
    opacity: 0.5;
    cursor: pointer;
    transition: 0.1s;
}

.img-btn-next:hover 
{
    transform:scale(1.1);
    opacity: 1;
}

#copyright 
{
    float: left; 
    position: absolute;
    left: 10vw;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    padding-top: 2.5vw;
    padding-bottom: 2vw;
}

